.input {
  width: 100%;
}

.input label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  color: #3b3b3b;
}

.input input {
  width: 100%;
  padding: 23px 30px;
  border-radius: 13px;
  font-weight: 500;
  background: #f2f6f9;
  color: #707070;
  border: none;
}
